body,
html {
  /* height:100%; */
  margin: 0px;
  padding: 0px;
}

#app {
  /* Set height of header to 15% of page
   * Set height of main to 70% of page
   * Set height of footer to 15% of page
   * */
  display: grid;
  grid-template-rows: [header] 15% [main] 70% [footer] 15% [last-line];
}

#main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

.store {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  flex-direction: column;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.store-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  flex-direction: column;
}

.store-item img{
  object-fit: contain;
  object-fit: scale-down;
  width: 150px;
  height: 100px;
  border: 1px solid #000;
  margin: 10px 0;
}

.store-item p{
  object-fit: contain;
  object-fit: scale-down;
  width: 150px;
  margin: 10px 0;
}