body,
html {
  /* height:100%; */
  margin: 0px;
  padding: 0px;
}

#app {
  /* Set height of header to 15% of page
   * Set height of main to 70% of page
   * Set height of footer to 15% of page
   * */
  display: grid;
  grid-template-rows: [header] 15% [main] 70% [footer] 15% [last-line];
}

.links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.store-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}